<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th>이름</th>
                <th>학과</th>
                <th>과목</th>
                <th>학점</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade : ${allGrade}">
                <td th:text="${grade.student.name}"></td>
                <td th:text="${grade.student.major.name}"></td>
                <!-- address가 null 일때 처리를 ?로 한다 -> 안나옴 -->
                <td th:text="${grade.course.courseName}"></td>
                <td th:text="${@enumUtil.getDisplayName(grade.gradeType)}"></td>
            </tr>
            </tbody>
        </table>
</div> <!-- /container -->
</div>
</body>
</html>