<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link th:href="@{/login/style.css}" rel="stylesheet"/>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <form action="/login" th:object="${loginDto}" method="post" class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label th:for="id" class="label">Id</label>
                            <input type="text" class="input" th:field="*{id}" placeholder="아이디를 입력해주세요.">
                        <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-message"></p>
                    </div>
                    <div class="group">
                        <label th:for="password" class="label">Password</label>
                        <input th:field="*{password}" type="password" class="input" data-type="password" placeholder="비밀번호를 입력해주세요.">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div>
        </form>
    </div>
</div>
</body>
</html>